<h1><%= @message %></h1>

<div class="homey">

<p>ShippMate.com is a website you can trust for shipping quotes from companies that have high quality service at a lower price. Shipping large quantities of goods or bulky products can be overwhelming and expensive but with us by your side, we can lessen the stress without breaking your bank account. If you trust us to assist you with your shipping needs, you can rest assured that there will never be a big problem that can’t be solved.</p>

<p>The biggest advantage of getting a shipping quote is the power to choose the best shipping provider with a reasonable or even low price. By getting a quote, you are making it possible to save as much as 35% in the shipping cost simply by comparing and making a smart choice. But you not only get this benefit by getting a shipping quote from us, you will also be entitled with the following:

<ul>
<li>Get a free shipping coordination service when you sign up with us. Our competent shipping coordinators will help make the shipping process as smooth as possible with their expertise in the field</li>

<li>Get better customer service all the time as we make sure that we only partner with reputable and leading companies to handle your needs</li>

<li>Get instant quote access in just one place- no need to fill out several forms over and over again. This way you get convenience and save time in getting a shipping quote
Get access to more than 2,500 shipping companies and professional haulers</li>

<li>Get the power to customize your shipping needs and avoid unnecessary charges, hidden fees and service charges
Get full protection for your valuables with the insurance that comes with the shipping service.</li>
</ul>

<p>We know that each of customer’s need is unique that’s why we made sure that we give you the power to customize your shipping needs. Whether you need a full service move and shipping service that includes the packing, boxing and delivery of your goods or whether you require door to door service or even a service as simple as port to port shipping only, we can definitely assist and address your needs.</p>

</div>
